<main>
    <div class="content">
        <div class="frame">
            <div class="phone_frame">
                <div class="first_row">
                    <div class="size1">0.37"</div>
                    <img src="../img/1.jpg" alt="">
                    <div class="size2">0.28"</div>
                </div>
                <div class="second_row">
                    <div class="img_block1">
                        <img src="../img/2.jpg" alt="">
                    </div>
                    <div class="img_block2">
                        <div class="size3">2.31"</div>
                        <div class="img_block2_1">
                            <div class="size4">4.53"</div>
                            <img src="../img/3_1.jpg" alt="">
                        </div>
                    </div>
                    <div class="img_block3">
                        <div class="size5">2.63"</div>
                        <div class="img_block3_1">
                            <div class="size6">4.84"</div>
                            <img src="../img/3_2.jpg" alt="">
                        </div>
                    </div>
                    <div class="img_block4">
                        <img src="../img/4.jpg" alt="">
                    </div>
                </div>
                <div class="third_row">
                    <img src="../img/5.jpg" alt="">
                </div>
            </div>
            <!-- <div class="size_frame">
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</main>